<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Meals</mat-toolbar>
    <mat-nav-list>
      <li><a mat-list-item routerLink="/select-meals" routerLinkActive="router-link-active">Select Meals</a></li>
      <li><a mat-list-item routerLink="/your-fridge" routerLinkActive="router-link-active">Your Fridge</a></li>
      <li><a mat-list-item routerLink="/add-meal" routerLinkActive="router-link-active">Add Meal</a></li>
      <li><a mat-list-item routerLink="/add-ingredient" routerLinkActive="router-link-active">Add Ingredient</a></li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Toolbar??</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  </mat-sidenav-container>

